root {
  interpolate-size: allow-keywords;
}

@font-face {
  font-family: "MissFajardose";
  src: url(../type/MissFajardose-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnam";
  src: url(../type/BeVietnamPro-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnam";
  src: url(../type/BeVietnamPro-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnam";
  src: url(../type/BeVietnamPro-MediumItalic.ttf);
  font-weight: 400;
  font-style: italic;
}
html {
  color-scheme: light dark;
  --background-1: #c2c6de;
  --background-2: #f6f7f9;
  --text-color: #2d2d2d;
  --text-background: #fff2fd;
  --article-text: #2d2d2d;
  --hover-background: #2d2d2d;
  --hover-text: #ffdaff;
  --hover-nav: #ffffff;
  --hover-nav-shadow: #2d3153;
  --cookie: #2d2d2d;
  --summary-open: #2d3153;
  --summary-open-text: #fbfbfb;

  --background-1: light-dark(#c2c6de, #bea5bd);
  --background-2: light-dark(#f6f7f9, #8e778d);
  --text-color: light-dark(rgb(5, 3, 3), rgb(134, 134, 134));
  --text-background: light-dark(#ffdaff, #35374f);
  --article-text: light-dark(rgb(45, 45, 45), #ffffff);
  --hover-background: light-dark(#2d3153, #131522);
  --hover-text: light-dark(#ffdaff, #ffffff);
  --hover-nav: light-dark(#ffdaff, #fbfbfb);
  --hover-nav-shadow: light-dark(#6a176a, #fbfbfb);
  --summary-open: light-dark(#2d3153, #c2c6de);
  --summary-open-text: light-dark(#fbfbfb, #2d3153);
}

body {
  font-family: "BeVietnam", Helvetica, sans-serif;
  font-style: normal;
  color: var(--text-color);
  background-image:
    /* url("./photos/texture-paper.png"), */ repeating-linear-gradient(
    90deg,
    var(--background-1) 0 1em,
    var(--background-2) 0 2em
  );
  margin: 0;
  position: relative;
  background-repeat: repeat;
  opacity: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #262535;
  transition: 0.5s ease-in-out;
  padding: 0 1em 0 1em;
  background-color: var(--background-1);
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 100;

  @media (width<30em) {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  box-shadow: inset 0em 3em 5em #6a176a50;
}
header a {
  text-decoration: none;
  color: #262535;
}
header h1 {
  font-family: "MissFajardose";
  font-size: 3.5em;
  margin: 0;
  @media (width<30em) {
    font-size: 3em;
  }
}
header h1:hover {
  cursor: pointer;
}
nav {
  margin: 0;
  display: flex;
  flex-wrap: balance;
  gap: 2em;
  align-items: center;
  max-width: fit-content;
  padding-left: 1em;
  padding-right: 1em;

  font-family: "BeVietnam", sans-serif;
  font-weight: 700;
}
nav p {
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

nav p:hover {
  text-shadow: var(--hover-nav-shadow) 0px 0 7px; /* offset-x, y, blur */
  color: var(--hover-nav);
}
nav p:focus {
  border-color: #131522;
}

main {
  max-width: 70%;
  margin-inline: auto;
}

.welcome1 {
  display: block;
  color: #262535;
  font-size: 2rem;
}
.welcome2 {
  display: block;
  font-family: "MissFajardose";
  font-size: 3.5rem;
  color: #262535;
}

details {
  background-color: var(--text-background);
  color: var(--article-text);
  text-align: left;
  box-shadow: 0em 0em 1em #6a176a60;

  border-radius: 0.5em;
  margin: 1em;
}

details:focus {
}

details:open::details-content {
  padding-inline: 1em;
  padding: 1em;
}
details:open {
  box-shadow:
    0em 0em 3em #00000050,
    inset 0em -1em 5em #6a176a50;
}
details:open summary {
  background: var(--summary-open);
  color: var(--summary-open-text);
  border-radius: 0.5em 0.5em 0 0;
}
summary {
  display: flex;
  cursor: pointer;
  padding-block: 1em;
  padding-inline: 1em;
  border-radius: 0.5em;
  transition: 0.3s ease-in-out;
}

summary:hover {
  background-color: var(--hover-background);
  color: var(--hover-text);
}
summary h3 {
  display: inline;
  margin: 0;
}
main a {
  cursor: default;
}
picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
picture img {
  width: 25rem;
  height: auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 1em;
  filter: drop-shadow(0px 4px 10px #00000050);
}
picture img:hover {
  transform: rotate(10deg) scale(1.1);
}
