@font-face {
  font-family: "Ballet";
  src: url(../type/Ballet-Regular-VariableFont_opsz.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MissFajardose";
  src: url(../type/MissFajardose-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnam";
  src: url(../type/BeVietnamPro-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnam";
  src: url(../type/BeVietnamPro-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnam";
  src: url(../type/BeVietnamPro-MediumItalic.ttf);
  font-weight: 400;
  font-style: italic;
}
html {
  color-scheme: light dark;
  --background-1: #c2c6de;
  --background-2: #f6f7f9;
  --text-color: #2d3153;
  --text-background: #ffdaff;
  --article-text: #2d3153;
  --hover-background: #2d3153;
  --hover-text: #ffafff;
  --hover-nav: #ffdaff;
  --hover-nav-shadow: #6a176a;
  --cookie: #2d2d2d;
  --arrow: #35374f;
  --arrow-background: #fbfbfb;

  --background-1: light-dark(#c2c6de, #bea5bd);
  --background-2: light-dark(#f6f7f9, #8e778d);
  --text-color: light-dark(#2d3153, #868686);
  --text-background: light-dark(#ffdaff, #35374f);
  --article-text: light-dark(#2d3153, #ffffff);
  --hover-background: light-dark(#2d3153, #131522);
  --hover-text: light-dark(#ffafff, #ffffff);
  --hover-nav: light-dark(#ffdaff, #fbfbfb);
  --hover-nav-shadow: light-dark(#6a176a, #fbfbfb);
}

body {
  font-family: "BeVietnam", Helvetica, sans-serif;
  font-style: normal;
  color: var(--text-color);
  background-image: repeating-linear-gradient(
    90deg,
    var(--background-1) 0 1em,
    var(--background-2) 0 2em
  );
  margin: 0;
  position: relative;
  background-repeat: repeat;
  opacity: 1em;
}

body > a:nth-of-type(1) {
  position: fixed;
  top: -100em;
  left: 1em;
  z-index: 9999;

  padding: 0.5em 1em;
  background-color: black;
  color: #ffdaff;
  border-radius: 1em;
  text-decoration: none;

  outline-color: black;
  outline-style: dashed;
  outline-width: 0.3em;
}

body > a:nth-of-type(1):focus {
  top: 1em;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr, 1fr));
  gap: 1em;
  padding: 2em;
  border-radius: 3em;

  @media (width<40em) {
    grid-template-columns: 1fr;
  }
}

/******************/
/**** ARTICLES ****/
/******************/

article:nth-of-type(1) {
  justify-items: center;
}
article:nth-of-type(2) {
  justify-items: center;
  position: relative;
  padding-bottom: 3em;
}
article:nth-of-type(3) {
  justify-items: center;
  position: relative;
  padding-bottom: 3em;
}

img {
  /* sketch */
  aspect-ratio: 2048 / 1055;
  max-width: 100%;
  border-radius: 20px;
  align-items: center;
  display: block;
  /* block meaning: The element generates a block box, 
  generating line breaks both before and after the element 
  when in the normal flow. */
}

article:nth-of-type(2) img {
  display: block;
  width: 50em;
  justify-self: center;
}

article {
  background-color: var(--text-background);
  color: var(--article-text);
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
  transition: 0.5s ease-in-out;

  &:hover {
    background-color: var(--hover-background);
    color: var(--hover-text);
  }
}

/****************/
/**** HEADER ****/
/****************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #262535;
  transition: 0.5s ease-in-out;
  padding: 0 1em 0 1em;
  background-color: var(--background-1);
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 10;
  @media (width<30em) {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  box-shadow: inset 0em 3em 5em #6a176a50;
}

header a {
  text-decoration: none;
  color: #262535;

  &:hover {
    cursor: pointer;
  }
  &:focus-visible {
    outline: 0.2em dashed #262535;
    outline-offset: 0.2em;
  }
}

header h1 {
  font-family: "MissFajardose";
  font-size: 3.5em;
  margin: 0;
  font-weight: 700;

  @media (width<30em) {
    font-size: 3em;
    display: block;
    text-align: center;
  }
  &:active {
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
  }
}

nav {
  margin: 0;
  display: flex;
  flex-wrap: balance;
  gap: 2em;
  align-items: center;
  max-width: fit-content;
  padding: 1em;

  font-family: "BeVietnam", sans-serif;
  font-weight: 700;

  & a {
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    &:hover {
      text-shadow: var(--hover-nav-shadow) 0px 0 7px; /* offset-x, y, blur */
      color: var(--hover-nav);
    }
    &:active {
      transform: scale(0.9);
      transition: 0.2s ease-in-out;
    }
  }
}

/****************/
/**** COOKIE ****/
/****************/
main > button {
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 1;
  background-color: var(--background-1);
  border-color: transparent;
  box-shadow: 0px 0px 10px var(--cookie);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 5em;
  aspect-ratio: 1;
  border-radius: 5em;

  &:hover {
    box-shadow: inset 0em 0em 2em #6a176a50;
  }
  &:focus-visible {
    outline: 0.2em dashed black;
    outline-offset: 0.2em;
  }
  &:active {
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
  }
}

main > button img {
  width: 100%;
  height: 100%;
  transform: scale(2);
}

main dialog {
  position: fixed;
  right: 1em;
  bottom: 1em;
  left: auto;
  z-index: 2;
  max-width: 20em;
  background-color: var(--article-text);
  color: var(--text-background);

  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  border-radius: 2em;
  /* padding: 1em; */
  & form {
    position: relative;
    padding-right: 2em;
  }
}

dialog form .close {
  position: absolute;
  top: 0em;
  right: 0em;
  width: 2em;
  aspect-ratio: 1;

  background: var(--text-background);
  border: 2px solid var(--text-background);
  border-radius: 2em;
  color: var(--article-text);
  font-size: 1.1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &:hover {
    opacity: 0.5;
    transition: 0.2s ease-in-out;
  }
  &:focus-visible {
    outline: 0.2em dashed var(--text-background);
    outline-offset: 0.2em;
  }
  &:active {
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
  }
}

.readmore {
  background-color: var(--text-background);
  color: var(--article-text);
  border: none;
  cursor: pointer;
  padding: 1em;
  border-radius: 2em;
  display: inline-block;
  margin-top: 0.5em;
  text-decoration: none;
  &:hover {
    opacity: 0.5;
    transition: 0.2s ease-in-out;
  }

  &:focus-visible {
    outline: 0.2em dashed var(--text-background);
    outline-offset: 0.2em;
  }

  &:active {
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
  }
}

main dialog {
  scale: 0;
  transform-origin: calc(100% - 3em) calc(100% - 3em);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      scale 0.2s allow-discrete,
      display 0.2s allow-discrete;
  }
}

main dialog[open] {
  scale: 1;
}

@starting-style {
  main dialog[open] {
    scale: 0;
  }
}

/****************/
/**** LINKS TO OTHER HTML'S ****/
/****************/
.Encyclopedia,
.MyJournal {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  /* border: 1px solid var(--text-background); */

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--arrow-background);
  color: var(--arrow);
  text-decoration: none;

  border: none;
  cursor: pointer;
  width: 1em;
  font-size: 1.1em;
  padding: 1em;
  border-radius: 2em;
  margin-top: 0.5em;

  &:hover {
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    color: var(--arrow);
    background-color: var(--arrow-background);
  }

  &:focus-visible {
    outline: 0.2em dashed var(--article-text);
    outline-offset: 0.2em;
  }
}
