@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ballet";
  src: url(../type/Ballet-Regular-VariableFont_opsz.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MissFajardose";
  src: url(../type/MissFajardose-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme: light dark;
  --background-1: #c2c6de;
  --background-2: #f6f7f9;
  --text-color: rgb(45, 45, 45);
  --text-background: #fff2fd;
  --article-text: rgb(45, 45, 45);
  --hover-background: rgb(45, 45, 45);
  --hover-text: rgb(45, 45, 45);
  --hover-nav: #ffffff;
  --hover-nav-shadow: #2d3153;

  --background-1: light-dark(#c2c6de, #6c6f8a);
  --background-2: light-dark(#f6f7f9, #999999);
  --text-color: light-dark(rgb(5, 3, 3), rgb(134, 134, 134));
  --text-background: light-dark(#fff2fd, #ffdaff);
  --article-text: light-dark(rgb(45, 45, 45), #2d3153);
  --hover-background: light-dark(#2d3153, #131522);
  --hover-text: light-dark(rgb(255, 218, 255), #ffdaff);
  --hover-nav: light-dark(#ffffff, #ffdaff);
  --hover-nav-shadow: light-dark(#2d3153, rgb(239, 107, 239));
}

body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  color: var(--text-color);
  background-image:
    url("./photos/texture-paper.jpg"),
    repeating-linear-gradient(
      90deg,
      var(--background-1) 0 3em,
      var(--background-2) 0 6em
    );
  background-blend-mode: multiply, normal;
  opacity: 1em;
}

main {
  display: grid;
  /* max-width: 70em; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr, 1fr));
  gap: 1em;
  /* margin: 2em; */
  padding: 2em;

  border-radius: 3em;

  @media (width<40em) {
    grid-template-columns: 1fr;
  }
}

/******************/
/**** ARTICLES ****/
/******************/

article:nth-of-type(1) {
  /* get to know me */
  justify-items: center;
  /* background-color: transparent; */
}

article {
  background-color: var(--text-background);
  color: var(--article-text);
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
  cursor: pointer;
}
article:hover {
  background-color: var(--hover-background);
  color: var(--hover-text);
}

img {
  /* sketch */
  aspect-ratio: 1/1;
  max-width: 90%;

  align-items: center;
  /* mix-blend-mode: multiply; 
  ----The artline is black so this didn't work. 
  It will be changed.*/

  display: block;
  /* block meaning: The element generates a block box, 
  generating line breaks both before and after the element 
  when in the normal flow. */
}

/****************/
/**** HEADER ****/
/****************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
}
header h1 {
  font-family: "MissFajardose";
  font-size: 3em;
  /* justify-content: flex-start; */
}
nav {
  display: flex;
  flex-wrap: balance;
  gap: 4em;
  align-items: center;
  max-width: fit-content;

  font-family: Helvetica, sans-serif;
  font-style: normal;
}
nav p {
  font-weight: 700;
  cursor: pointer;
}

nav p:hover {
  text-shadow: var(--hover-nav-shadow) 0px 0 10px; /* offset-x, y, blur */

  color: var(--hover-nav);
}
